{% extends 'intro-to-bibcat/base.html' %}

{% block main %}
<div class="uk-container">
    <div uk-grid class="uk-margin-small-top">
        {% if topic.meta.contents %}
        <div class="uk-width-1-4">  
            <div class="uk-card uk-card-secondary"> 
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Contents</h3>
                </div>
                <ul>
                {% for row in topic.meta.contents.split(",") %}
                <li>{{ row|build_nav|safe }}</li>
                {% endfor %}
                </ul>
           </div>
        </div>
        {% endif %}
        <div class="{% if topic.meta.contents %}uk-width-3-4{% endif %}">
            <div class="uk-article"> 
                <h1 class="uk-article-title">{{ topic.meta.title }}</h1>
                <p class="uk-article-meta">Lasted edited on {{ topic.meta.date }} by 
                    <a href="{{ topic.meta.author }}">{{ topic.meta.author|get_name }}</a>.
                    
                </p>
            </div>
        </div>
     </div> 
     <article class="uk-article">
           {{ topic.html|safe }}
     </article> 
</div>
{% endblock %}

{% block footer %}
<div class="uk-container uk-margin-large-top">
   <ul class="uk-iconnav">
      {% if topic.meta.previous %}
      <a href="{{ url_for('topic', name=topic.meta.previous) }}" 
         uk-icon="icon:  chevron-left"></a>
      {% endif %}
      <a href="{{ url_for('home') }}"
         uk-icon="icon: home"></a>
       {% if topic.meta.next %}
      <a href="{{ url_for('topic', name=topic.meta.next) }}" 
         uk-icon="icon:  chevron-right"></a>
      {% endif %}
   </ul>
</div>
{% endblock %}
